<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header class="mb-4">
      <ul class="nav bg-dark text-dark">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_index_path %>">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= team_index_path %>">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= contact_index_path %>">Contact</a>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
